apiVersion: v1
kind: Service
metadata:
  name: {{ include "teamvault.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "teamvault.labels" . | nindent 4 }}
    app.kubernetes.io/component: server
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: https
      port: {{ .Values.service.port }}
      targetPort: https
      protocol: TCP
      {{- if and (eq .Values.service.type "NodePort") .Values.service.nodePort }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
  selector:
    {{- include "teamvault.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: server
